@model GestorForemost.Models.TbGestionSaldo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbGestionSaldo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFacturaSaldo" class="control-label"></label>
                <select asp-for="IdFacturaSaldo" class ="form-control" asp-items="ViewBag.IdFacturaSaldo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdGestorSaldo" class="control-label"></label>
                <select asp-for="IdGestorSaldo" class ="form-control" asp-items="ViewBag.IdGestorSaldo"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaAsignSaldo" class="control-label"></label>
                <input asp-for="FechaAsignSaldo" class="form-control" />
                <span asp-validation-for="FechaAsignSaldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoSaldo" class="control-label"></label>
                <input asp-for="EstadoSaldo" class="form-control" />
                <span asp-validation-for="EstadoSaldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
