html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.body-container {
    background-color: #ebf2f2
}

.logo-inicio{
    border-radius: 50px !important;
}