@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">NetForemost</h1>
    <p>SOFTWARE</p>

    <!-- Reloj -->
    <div id="clock" class="mt-4" style="font-size: 24px; font-weight: bold;"></div>

    <!-- Imagen -->
    <div class="mt-4">
        <img src="~/imagenes/NetForemost_Logo.jpg" alt="Logo" style="width: 200px; border-radius:100px" />
    </div>
</div>